<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# My Jupyter Notebook on IBM Watson Studio

**My name is Nicholas Molina. I currently work in digital design, and wish to one day work with AI**

_"I am interested in data science, because of its multifunctionality and its application across every sector in society. Not only can data science be used in the financial and medical sectors, but it can be applied to work design, space exploration, and everything in between."_

### The code below provides a rudimentary example of exponentiation: (In it the number 4 is squared)

In [9]:
4 ** 2

16


<ul>Here are some more items including:
<li>A bulleted list item</li>
</ul>
<ol>A numbered list:
    <li>With an example of a <s>Strikethrough</s></li>
</ol>